<!--
  Renderiza o conteúdo apenas se a lista de 'items' não for nula e tiver pelo menos um item.
  O acesso `items()` é a sintaxe para ler o valor de um Signal Input.
-->
@if (items() && items().length > 0) {
  <div class="details-cell-content">
    <span class="details-trigger">{{ triggerText() }}</span>
    <div class="details-text-container">
      @for(item of items(); track $index; let last = $last) {
        <span>
          @if (showKeys() && item.key) {
            <strong>{{ item.key | titlecase }}:</strong>
            {{ ' ' }}
          }
          {{ item.value }}
        </span>@if (!last) {<br>}
      }
    </div>
  </div>
} @else {
  <!-- Se não houver itens, exibe um hífen para indicar um valor vazio. -->
  <span>-</span>
}
