@use '../../../../shared/styles/form-layout' as fl;

// Estilo para o botão "Adicionar Produto"
.add-button {
  width: 100%;
  border-style: dashed;
  color: var(--mat-sys-on-surface-variant);

  // Quando desabilitado, o texto é longo, então ajustamos o padding
  &.mat-mdc-button-disabled {
    padding: 0 8px;
  }
}

// Container das linhas de itens
.items-container {
  display: flex;
  flex-direction: column;
  gap: 16px; // Espaço entre cada linha de item
}

.item-row {
  display: flex;
  gap: 12px;
  align-items: center; // Centraliza todos os itens verticalmente
  padding: 16px;
  background-color: var(--background-color);
  border: var(--std-border-width) solid var(--std-border-color);
  border-radius: var(--std-border-radius);

  .product-column {
    flex: 1;
  }

  .qty-field {
    width: 90px;
  }

  button {
    color: var(--danger-color);
  }
}

.full-width {
  width: 100%;
}
