# Ignorar todos os arquivos com extensão .local (ex.: .env.dev.local)
*.local

# Ignorar backups comuns (boa prática)
*.backup
*.local.backup

# Node modules
frontend/node_modules/

# Saídas de build
backend/target/
frontend/dist/

# Ignorar arquivos de IDE e OS
.idea/
.vscode/
*.iml
.DS_Store