<div class="page-container">
  <div class="page-header">
    <div class="header-title">
      <h2>Lotes de Matéria-Prima</h2>
      <p>Gerenciamento de lotes de matéria-prima em estoque</p>
    </div>
    <div class="header-actions">
      <button mat-stroked-button (click)="openMaterialTypeDialog()" class="secondary-action-button">
        <mat-icon>view_list</mat-icon>
        Exibir Matérias-Primas
      </button>
      <button mat-raised-button color="primary" (click)="onCreate()">
        <mat-icon>add</mat-icon>
        Adicionar Lote
      </button>
    </div>
  </div>

  <app-base-table
    [items]="items()"
    [columns]="tableColumns"
    [totalElements]="pagination.totalElements()"
    [pageSize]="pagination.pageSize()"
    [pageIndex]="pagination.pageIndex()"
    (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)">
  </app-base-table>
</div>

<!-- Templates para células da tabela de lotes -->
<ng-template #tipoTemplate let-lote>{{ lote.nomeTipoMateriaPrima }}</ng-template>
<ng-template #saldoTemplate let-lote>{{ lote.saldoEstoque }}</ng-template>
<ng-template #unidadeTemplate let-lote>{{ lote.unidadeDeEstoque }}</ng-template>

<ng-template #atributosTemplate let-lote>
  <app-details-popover [items]="getAtributosAsArray(lote.atributos)" triggerText="Exibir atributos"></app-details-popover>
</ng-template>

<ng-template #acoesTemplate let-lote>
  <button mat-icon-button color="primary" (click)="editLote(lote)">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button color="warn" (click)="deleteLote(lote)">
    <mat-icon>delete</mat-icon>
  </button>
</ng-template>
