<div class="page-container">
  <div class="page-header">
    <div class="header-title">
      <h2>Lotes de Matéria-Prima</h2>
      <p>Gerenciamento de lotes de matéria-prima em estoque</p>
    </div>
    <div class="header-actions">
      <button mat-raised-button (click)="openMaterialTypeDialog()" class="gray-btn">
        <mat-icon>view_list</mat-icon>
        Exibir Matérias-Primas
      </button>
      <button mat-stroked-button color="primary" (click)="onCreate()" class="action-button">
        <mat-icon>add</mat-icon>
        Adicionar Lote
      </button>
    </div>
  </div>

  <app-base-table
    [items]="items()"
    [columns]="tableColumns"
    [totalElements]="pagination.totalElements()"
    [pageSize]="pagination.pageSize()"
    [pageIndex]="pagination.pageIndex()"
    (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)">
  </app-base-table>
</div>

<!-- Templates para células da tabela de lotes -->
<ng-template #typeTemplate let-lote>{{ lote.nomeTipoMateriaPrima }}</ng-template>
<ng-template #balanceTemplate let-lote>{{ lote.saldoEstoque }} {{ lote.unidadeSimbolo }}</ng-template>
<ng-template #costTemplate let-lote>{{ lote.custoTotalLote | currency:'BRL' }}</ng-template>
<ng-template #createdAtTemplate let-lote>{{ lote.dataCriacao ? (lote.dataCriacao | date:'dd/MM/yyyy HH:mm') : 'N/A' }}</ng-template>
<ng-template #attributesTemplate let-lote>
  <button mat-button type="button">Exibir atributos</button>
</ng-template>

<ng-template #actionsTemplate let-lote>
  <button mat-icon-button (click)="onViewDetails(lote)">
    <mat-icon>visibility</mat-icon>
  </button>
  <button mat-icon-button color="primary" (click)="onEdit(lote)">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button color="warn" (click)="onDelete(lote)">
    <mat-icon>delete</mat-icon>
  </button>
</ng-template>
