### Maven ###
# É uma boa prática NÃO ignorar o maven-wrapper.jar para garantir builds consistentes.
# Ignorar apenas o diretório de build principal.
target/

### IDEs ###
# Arquivos específicos de IDEs que não são cobertos pelo .gitignore raiz.
# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ
*.iws
*.ipr

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
