<div class="filters-container">
  @if (!fixedProductType()) {
    <mat-form-field appearance="outline" class="unit-filter">
      <mat-label>Categoria</mat-label>
      <mat-select [formControl]="productTypeControl">
        @for (option of productTypeOptions; track option.value) {
          <mat-option [value]="option.value">{{ option.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }

  <mat-form-field appearance="outline" class="flex-grow">
    <mat-label>Tipo de Matéria Prima</mat-label>
    <input type="text"
           matInput
           [formControl]="searchControl"
           [matAutocomplete]="auto"
           placeholder="Busque por nome...">

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onOptionSelected($event)">
      @for (materialType of materialTypes(); track materialType.id) {
        <mat-option [value]="materialType">
          {{ materialType.nome }}
        </mat-option>
      }
    </mat-autocomplete>

    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="unit-filter">
    <mat-label>Unidade da Matéria-Prima</mat-label>
    <mat-select [formControl]="consumptionUnitControl">
      @for (unit of unitOptions(); track unit.value) {
        <mat-option [value]="unit.value">
          {{ unit.simbolo ? unit.viewValue + ' (' + unit.simbolo + ')' : unit.viewValue }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <ng-content select="[after-unit-field]"></ng-content>

</div>
