@use '../../styles/form-layout' as fl;

.filters-container {
  @include fl.filters-container;
}

.flex-grow {
  flex: 1;
  min-width: 250px;
}

.unit-filter {
  flex: 0 0 220px;
  min-width: 220px;
}

.spinner-option {
  .mat-mdc-option-text {
    display: flex;
    justify-content: center;
  }
}
