<app-base-table
  [title]="'Produtos'"
  [subtitle]="'Gerenciamento de produtos'"
  [addButtonText]="'Adicionar Produto'"
  [items]="products()"
  [columns]="tableColumns"
  [totalElements]="totalElements()"
  [pageSize]="pageSize()"
  [pageIndex]="pageIndex()"
  (add)="onCreate()"
  (pageChange)="onPageChange($event)"
  (sortChange)="onSortChange($event)">
</app-base-table>

<!-- Templates para as Células da Tabela -->
<ng-template #skuTemplate let-product>{{ product.sku }}</ng-template>
<ng-template #nomeTemplate let-product>{{ product.nome }}</ng-template>
<ng-template #ativoTemplate let-product>
  <mat-icon>{{ product.ativo ? 'check_circle' : 'cancel' }}</mat-icon>
</ng-template>
<ng-template #estoqueTemplate let-product>
  {{ product.estoqueFisicoTotal }} pacotes
  <br />
  <small>({{ product.unidadesPorProduto }} unidades cada)</small>
</ng-template>
<ng-template #detalhesTemplate let-product>
  @if (product.tipoProduto === 'CORTE' || product.tipoProduto === 'CONSUMO_DIRETO') {
    <div class="details-cell-content">
      <span class="details-trigger">Exibir detalhes</span>
      <div class="details-text-container">
        @for(detail of getProductDetails(product); track detail.key) {
          <span><strong>{{ detail.key | titlecase }}:</strong> {{ detail.value }}</span>
        }
      </div>
    </div>
  } @else {
    <span>-</span>
  }
</ng-template>
<ng-template #estoquePorCanalTemplate let-product>
  @if (product.estoquePorCanal) {
    @if ((product.estoquePorCanal | keyvalue | filterStock:0); as activeChannels) {
      @if (activeChannels.length) {
        <div class="details-cell-content">
          <span class="details-trigger">Exibir canais</span>
          <div class="details-text-container">
            @for(channel of activeChannels; track channel.key) {
              <span><strong>{{ getChannelDisplayName(channel.key) | titlecase }}:</strong> {{ channel.value }}</span>
            }
          </div>
        </div>
      } @else {
        <span>Nenhum</span>
      }
    } @else {
      <span>Nenhum</span>
    }
  }
</ng-template>
<ng-template #acoesTemplate let-product>
  <button mat-icon-button color="primary" title="Visualizar" (click)="onView(product)">
    <mat-icon>visibility</mat-icon>
  </button>
  <button mat-icon-button color="accent" title="Editar" (click)="onEdit(product)">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button color="warn" title="Excluir" (click)="onDelete(product)">
    <mat-icon>delete</mat-icon>
  </button>
</ng-template>
