<div class="page-container">
  <div class="page-header">
    <div class="header-title">
      <h2>Produtos</h2>
      <p>Gerenciamento de produtos acabados</p>
    </div>
    <button mat-raised-button color="primary" (click)="onCreate()">
      <mat-icon>add</mat-icon>
      Adicionar Produto
    </button>
  </div>

  <app-base-table
    [items]="items()"
    [columns]="tableColumns"
    [totalElements]="pagination.totalElements()"
    [pageSize]="pagination.pageSize()"
    [pageIndex]="pagination.pageIndex()"
    (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)">
  </app-base-table>
</div>

<!-- Templates para as Células da Tabela -->
<ng-template #skuTemplate let-product>{{ product.sku }}</ng-template>
<ng-template #nomeTemplate let-product>{{ product.nome }}</ng-template>
<ng-template #ativoTemplate let-product>
  <mat-icon>{{ product.ativo ? 'check_circle' : 'cancel' }}</mat-icon>
</ng-template>
<ng-template #estoqueTemplate let-product>
  {{ product.estoqueFisicoTotal }} pacotes
  <br />
  <small>({{ product.unidadesPorProduto }} unidades cada)</small>
</ng-template>

<ng-template #detalhesTemplate let-product>
  <app-details-popover [items]="getProductDetails(product)" triggerText="Exibir detalhes"></app-details-popover>
</ng-template>

<ng-template #estoquePorCanalTemplate let-product>
  <app-details-popover [items]="(product.estoquePorCanal | keyvalue | filterStock:0)" triggerText="Exibir canais"></app-details-popover>
</ng-template>

<ng-template #acoesTemplate let-product>
  <button mat-icon-button color="primary" title="Visualizar" (click)="onView(product)">
    <mat-icon>visibility</mat-icon>
  </button>
  <button mat-icon-button color="accent" title="Editar" (click)="onEdit(product)">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button color="warn" title="Excluir" (click)="onDelete(product)">
    <mat-icon>delete</mat-icon>
  </button>
</ng-template>
