.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header-title h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.header-title p {
  margin: 0;
  color: var(--mat-sys-on-surface-variant);
}

.mat-column-detalhes {
  width: 250px;
}

.mat-column-ativo {
  width: 65px;
}
.mat-column-acoes {
  width: 160px;
}

.mat-column-ativo .mat-mdc-cell,
.mat-column-acoes .mat-mdc-cell {
  justify-content: center;
}
