.dialog-container {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

mat-dialog-content {
  overflow: visible !important;
  padding-top: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
