.page-card {
  margin: 24px;
  background-color: var(--mat-sys-surface-container-highest);
}

.header-spacer {
  flex: 1 1 auto;
}

.page-card mat-card-header {
  display: flex;
  align-items: center;
  padding: 16px;
}

.add-button {
  height: 40px;
  padding: 0 24px;
}
.table-wrapper {
  position: relative;
}

.table-container {
  position: relative; /* Essencial para que o spinner absoluto se posicione corretamente. */
  overflow: auto;
  max-height: 60vh;
}

mat-paginator {
  background-color: transparent; /* Faz o paginador herdar a cor de fundo do card. */
}
