<mat-form-field appearance="outline">
  <mat-label>Lote</mat-label>
  <input
    type="text"
    placeholder="Buscar lote..."
    aria-label="Lote"
    matInput
    [formControl]="searchControl"
    [matAutocomplete]="auto"
    [required]="isRequired"
  >
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
    @for (batch of foundBatches()._embedded['lotes-materia-prima']; track batch.id) {
      <mat-option [value]="batch">
        <div class="batch-option-content">
          <span>{{ displayFn(batch) }}</span>
          <button mat-icon-button (click)="$event.stopPropagation()">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </div>
      </mat-option>
    }
    @if (isSearching()) {
      <mat-option disabled>
        <mat-spinner diameter="20"></mat-spinner>
        Buscando...
      </mat-option>
    }
    @if (!isSearching() && foundBatches()._embedded['lotes-materia-prima'].length === 0) {
      <mat-option disabled>Nenhum lote encontrado.</mat-option>
    }
  </mat-autocomplete>
  @if (isSearching()) {
    <mat-spinner matSuffix diameter="20"></mat-spinner>
  }
  @if (control().invalid && control().touched) {
    <mat-error>
      {{ control().errors | json }}
    </mat-error>
  }
</mat-form-field>
