<div class="page-container">
  <div class="page-header">
    <div class="header-title">
      <h2>Vendas</h2>
      <p>Gerenciamento de vendas</p>
    </div>
    <button mat-raised-button color="primary" (click)="onCreate()">
      <mat-icon>add</mat-icon>
      Adicionar Venda
    </button>
  </div>

  <app-base-table
    [items]="items()"
    [columns]="tableColumns"
    [totalElements]="pagination.totalElements()"
    [pageSize]="pagination.pageSize()"
    [pageIndex]="pagination.pageIndex()"
    (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)">
  </app-base-table>
</div>

<!-- Templates para as Células -->
<ng-template #idTemplate let-sale>{{ sale.id }}</ng-template>
<ng-template #channelTemplate let-sale>{{ sale.nomeCanalVenda }}</ng-template>
<ng-template #itemsTemplate let-sale>
  {{ sale.itens.length }} {{ sale.itens.length > 1 ? 'itens' : 'item' }}
</ng-template>
<ng-template #amountTemplate let-sale>{{ sale.valorTotal | currency:'BRL' }}</ng-template>
<ng-template #dateTemplate let-sale>{{ sale.dataCriacao | date:'dd/MM/yyyy HH:mm' }}</ng-template>
<ng-template #actionsTemplate let-sale>
  <button mat-icon-button color="primary" title="Editar" (click)="onEdit(sale)">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button color="warn" title="Excluir" (click)="onDelete(sale)">
    <mat-icon>delete</mat-icon>
  </button>
</ng-template>
