<div class="filters-container">

  <mat-form-field appearance="outline" class="flex-grow">
    <mat-label>Buscar Produto</mat-label>
    <input type="text"
           matInput
           [required]="isRequired"
           [formControl]="searchControl"
           [matAutocomplete]="auto"
           placeholder="Busque por nome...">

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onOptionSelected($event)" (opened)="onAutocompleteOpened()">
      @for (product of products(); track product.id) {
        <mat-option [value]="product">
          {{ product.nome }} (Estoque: {{ product.estoqueFisicoTotal || 0 }})
        </mat-option>
      }

      @if (isSearching()) {
        <mat-option disabled class="spinner-option">
          <mat-spinner diameter="20"></mat-spinner>
        </mat-option>
      }
    </mat-autocomplete>

    <!-- Contêiner do filtro de estoque como sufixo -->
    <div class="stock-filter-suffix" matSuffix (click)="$event.stopPropagation()">
      <button mat-icon-button type="button" class="toggle-button" (click)="toggleFilterOperator()"
              [ngClass]="{
                'btn-danger-custom': filterOperatorControl.value === 'LTE',
                'btn-success-custom': filterOperatorControl.value === 'GTE'
              }">
        {{ filterOperatorControl.value === 'GTE' ? '≥' : '≤' }}
      </button>
      <input matInput class="stock-input" [formControl]="filterValueControl" placeholder="Estoque" (focus)="onStockInputFocus()">
    </div>

  </mat-form-field>

</div>
